@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Shippori Mincho B1", "Times New Roman", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/login_image.jpg');
  background-size: cover;
  height: 100vh; 
  margin: 0;
  padding: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
